* {
  margin: 0;
  padding: 0;
}

.header {
  background-size: contain;
  background-image: url(./svg-image/hero-bg.svg);
  height: 130vh;
  position: relative;
  background-position: 0px 16rem;
  background-repeat: no-repeat;
}
.header::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #14ee80;
  z-index: -1;
}
.header .header__menu {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1700px;
  max-width: 100%;
  margin: auto;
}
.header .header__menu a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.header .header--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header .menu {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}
.header .header__button {
  font-size: 16px;
  width: 180px;
  height: 40px;
  color: white;
  background: black;
}
.header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1600px;
  max-width: 90%;
  margin: 40px auto 0 auto;
}
.header .banner .banner__item1 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  width: 410px;
}
.header .banner h1 {
  width: 420px;
  font-size: 100px;
}
.header .banner p {
  margin-top: 20px;
  font-size: 33px;
}
.header .banner .banner__button {
  margin-top: 30px;
  width: 270px;
  height: 70px;
  background: black;
  font-size: 20px;
  color: white;
}
.header .banner .banner--hero {
  width: 56rem;
}

.main {
  margin-top: 100px;
}
.main .text-center {
  font-size: 22px;
  text-align: center;
}
.main .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  max-width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0 auto;
}
.main .area1 {
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  max-width: 90%;
}
.main .area1 .area1__item1 {
  -webkit-transform: translateY(34px);
          transform: translateY(34px);
  width: 425px;
}
.main .area1 h2 {
  font-size: 60px;
}
.main .area1 p {
  margin-top: 40px;
  font-size: 24px;
  margin-bottom: 40px;
}
.main .area1 a {
  font-size: 22px;
  color: #0c39f8;
  font-weight: bold;
  text-decoration: none;
}
.main .area1--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 1300px;
}

.area2 {
  height: 376px;
  margin: auto;
  width: 1280px;
  margin-top: 201px;
  background-image: url(./image/features-bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-position: 0 -117px;
  background-size: inherit;
  background-repeat: no-repeat;
  padding-top: 122px;
  padding-bottom: 188px;
}
.area2 .area2--items {
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28rem;
  height: 140px;
}
.area2 .area2--items p {
  font-size: 20px;
  margin-top: 10px;
  width: 90%;
  color: white;
  line-height: 24px;
}
.area2 .area2--items h1 {
  color: white;
}
.area2 .area2--items img {
  margin: 0 10px;
  height: 84px;
  width: 84px;
}

.area3 {
  margin-top: 150px;
}
.area3 .area3__content {
  text-align: center;
}
.area3 .area3__content h1 {
  font-size: 65px;
}
.area3 .area3__content p {
  font-size: 28px;
  margin-top: 30px;
  color: #666666;
}
.area3 .area3__price {
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1800px;
}
.area3 .area3__price .item--pro {
  border-top: 3px solid #14ee80 !important;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.area3 .area3__price .area3__price--item {
  text-align: center;
  width: 500px;
  border: 1px solid #ebf5ff;
  -webkit-box-shadow: 0px 0px 1px;
          box-shadow: 0px 0px 1px;
}
.area3 .area3__price .area3__price--item .item--top {
  line-height: 70px;
  padding: 40px;
}
.area3 .area3__price .area3__price--item .item--top p {
  color: #666666;
  font-size: 18px;
}
.area3 .area3__price .area3__price--item .item--top h3 {
  font-size: 70px;
}
.area3 .area3__price .area3__price--item .item--bottom {
  padding: 40px;
  line-height: 70px;
  font-size: 24px;
  border-top: 1px solid #ebf5ff;
  -webkit-box-shadow: 0px 0px 1px;
          box-shadow: 0px 0px 1px;
}
.area3 .area3__price .area3__price--item .item--bottom .area3__button {
  margin-top: 33px;
  width: 250px;
  height: 64px;
  color: white;
  background-color: #333333;
  font-weight: bold;
  font-size: 19px;
  border-radius: 6px;
}
.area3 .area3__price .area3__price--item .item--bottom .button--pro {
  background-color: #14ee80;
  color: #333333;
}
.area3 .area3__price .area3__price--item .item--bottom .button--pro:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.area4 {
  background-image: url(./image/cta-bg.png);
  padding: 83px 0px 0 0;
  background-position: 0 -3rem;
  background-repeat: no-repeat;
  width: 1222px;
  height: 280px;
  margin: 150px auto 0 auto;
}
.area4 .area4__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.area4 .area4__flex h1 {
  font-size: 50px;
  color: white;
}
.area4 .area4__flex .area4__button {
  width: 260px;
  height: 70px;
  background-color: #14ee80;
  font-size: 24px;
  color: black;
  border-radius: 10px;
  font-weight: bold;
}
.area4 .area4__flex .area4__button:hover {
  color: blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto 125px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
}
.footer .footer__menu .footer__menu--items {
  width: 300px;
}
.footer .footer__menu .footer__menu--items .footer--ul {
  margin-top: 25px;
}
.footer .footer__menu .footer__menu--items p {
  color: #25373fb3;
  font-size: 22px;
}
.footer .footer__menu .footer__menu--items ul {
  list-style: none;
}
.footer .footer__menu .footer__menu--items a {
  line-height: 60px;
  text-decoration: none;
  font-size: 20px;
  color: #5a5a5a;
}
.footer .footer__menu .footer__menu--items .ul--contact {
  margin-top: 53px;
}
.footer .footer__subscribe {
  -webkit-box-shadow: 0px 0px 2px;
          box-shadow: 0px 0px 2px;
  height: 240px;
  width: 650px;
  border: 1px solid #ddf7ea;
  background-color: #ddf7ea;
  padding: 25px;
  border-radius: 13px;
}
.footer .footer__subscribe .sbc--text1 {
  margin: 20px 0 20px 0;
  font-size: 20px;
}
.footer .footer__subscribe .sbc--text2 {
  margin-bottom: 33px;
  font-size: 24px;
  width: 480px;
  line-height: 30px;
}
.footer .footer__subscribe .footer__input-text {
  font-size: 20px;
  height: 4rem;
  width: 33rem;
  padding-left: 16px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.footer .footer__subscribe .button__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.footer .footer__subscribe .button__input .footer__button {
  color: white;
  font-size: 24px;
  background-color: #4ebe86ed;
  width: 67px;
  height: 68px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media screen and (max-width: 1023px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .menu {
    display: none !important;
  }

  .header__menu {
    display: block !important;
    padding: 20px 0px !important;
  }
  .header__menu .header__button {
    display: none;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner h1 {
    width: 100% !important;
    font-size: 8vw !important;
  }
  .banner .banner__button {
    width: 50vw !important;
    height: 8vh !important;
    font-size: 4vw !important;
  }
  .banner .banner--hero {
    width: 100% !important;
  }
  .banner .banner__item1 {
    margin-bottom: 45px;
    -webkit-transform: none !important;
            transform: none !important;
    width: 100% !important;
  }
  .banner p {
    font-size: 5vw !important;
  }

  .brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    width: 30vh !important;
  }

  .area1--image {
    width: 100%;
  }

  .area1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .area2 {
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

  .area2--items {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: 0 !important;
  }

  .area3__price {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .area3__price--item {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

  .footer__input-text {
    width: 32vh !important;
  }

  .footer__subscribe {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .area1__item1 {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

  .area2--image {
    width: 100%;
  }

  .sbc--text2 {
    margin-bottom: auto !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

  .area1--reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }

  .area4 {
    display: contents;
  }

  .area4__flex {
    margin-top: 7vh;
  }
  .area4__flex h1 {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
  }

  .main {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}